<%- include(commonPath + '/header.ejs') %>

<div class="container mx-auto py-8">
	<h1 class="text-3xl font-bold mb-4 text-center"><%= title %></h1>
	<p class="text-center">Track user interactions using the analytics code provided below:</p>
	<script src="<%= protocol %>://<%= domainA %><% if (isPortPresent) { %>:<%= port %><% } %>/chips/analytics.js"></script>
	<div class="flex justify-center space-x-4 mt-4">
		<button onclick="trackInteraction('buttonClicked')" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-300">
			Track me!
		</button>
		<button onclick="trackInteraction('buttonClickedCHIPS')" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-300">
			CHIPS Track me!
		</button>
	</div>
	<div id="status" class="text-center mt-4"></div>
</div>

<%- include(commonPath + '/footer.ejs') %>
