<%- include(commonPath + '/header.ejs') %>

<%- include(commonPath + '/internal-page/header.ejs', {containerType: 'sm'}) %>
    <div id="status-message" class="text-center font-bold text-lg my-4"></div>  
    <form action="?" method="POST" id="captcha-form" class="flex justify-between" >
        <div id="html_element"></div>
        <input 
            type="submit" 
            value="Send" 
            disabled 
            class="px-4 py-2 bg-gray-100 text-white rounded transition duration-300 cursor-not-allowed" />
    </form>
<%- include(commonPath + '/internal-page/footer.ejs') %>
<script type="text/javascript">
    const statusMessage = document.getElementById('status-message');
    const captchaForm = document.getElementById('captcha-form');

    const verifyCallback = (response) => {
        console.log(response);
        if (response) {
            statusMessage.textContent = `captcha verified`;
            captchaForm.querySelector('input[type="submit"]').removeAttribute('disabled');
            captchaForm.querySelector('input[type="submit"]').classList.remove('cursor-not-allowed');
            captchaForm.querySelector('input[type="submit"]').classList.remove('bg-gray-100');
            captchaForm.querySelector('input[type="submit"]').classList.add('bg-blue-500');
        }
    };

    const errorCallback = (error) => {
        console.log('error');
        if (error) {
            statusMessage.textContent = `captcha error`;
        }
    };
    
    captchaForm.onsubmit = (event) => {
        event.preventDefault();
        const token = grecaptcha.getResponse();
        statusMessage.textContent = `form submitted, captcha token ${token}`;
    }

    window.onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '<%= recaptchaSiteKey %>',
          'callback' : verifyCallback,
          'error-callback' : errorCallback
        });
      };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
<%- include(commonPath + '/footer.ejs') %>
