<%- include(commonPath + '/header.ejs') %>

	<%- include(commonPath + '/internal-page/header.ejs') %>
		<p class="text-lg font-bold mb-4 text-center">Here is an embedded Third-Party e-commerce site, check if you can add products to cart.</p>
		<div class="mt-8 flex justify-center">
			<iframe src="<%= protocol %>://<%= domainC %><% if (isPortPresent) { %>:<%= port %><% } %>/ecommerce/products" class="border-8 rounded w-1/2 h-96"></iframe>
		</div>
	<%- include(commonPath + '/internal-page/footer.ejs') %>

<%- include(commonPath + '/footer.ejs') %>
