<%- include(commonPath + '/header.ejs') %>

	<header>
		<h1 class="text-3xl font-bold my-8 text-center text-slate-800">E-commerce</h1>
	</header>
	<div class="mt-8 flex justify-center">
		<iframe src="<%= protocol %>://<%= domainC %><% if (isPortPresent) { %>:<%= port %><% } %>/ecommerce/products" class="border-8 rounded w-1/2 h-96"></iframe>
	</div>

<%- include(commonPath + '/footer.ejs') %>
