<%- include(commonPath + '/header.ejs') %>

<% const renderCard = (title, emoji, link) => { %>
    <a href="<%= link %>"
        class="flex flex-col border border-blue justify-center items-center font-bold p-4 bg-white drop-shadow-[8px_8px_0_rgba(32,33,37,.1)] rounded hover:bg-blue-500 hover:text-white aspect-square transition duration-300 text-center">
        <span class="block text-5xl mb-4"><%= emoji %></span>
        <%= title %>
    </a>
<% } %>


<h2 class="text-3xl font-bold mb-8 text-center">Scenarios</h2>
<div class="grid grid-cols-2 md:grid-cols-4 gap-6 mb-8">
    <%= renderCard('Analytics Tracking', 'ðŸ”Ž', '/analytics') %>
    <%= renderCard('Embedded Content', 'ðŸ“½ï¸', '/embedded-video') %>
    <%= renderCard('E-Commerce', 'ðŸ›’', '/ecommerce') %>
    <%= renderCard('Single Sign-On', 'ðŸ”', '/single-sign-on') %>
    <%= renderCard('Payment Gateway', 'ðŸ’³', '/payment-gateway') %>
    <%= renderCard('CHIPS', 'ðŸª', '/chips') %>
</div>

<%- include(commonPath + '/footer.ejs') %>
