<%- include(commonPath + '/header.ejs') %>

<% const renderCard = (title, emoji, link ) => { %>
    <a href="<%= link %>"
        class="flex flex-col justify-center items-center border border-blue p-4 bg-white drop-shadow-[8px_8px_0_rgba(32,33,37,.1)] rounded-md hover:bg-blue-500 hover:text-white aspect-square transition duration-300 size-40">
        <span class="block text-5xl mb-4"><%= emoji %></span>
        <h3 class="font-bold mb-1 text-center"><%= title %></h3>
    </a>
<% } %>

<div class="container-lg mx-auto py-8">
    <div class="grid grid-cols-1  md:grid-cols-4 gap-6 mb-8 mt-8 w-full md:w-[60rem] mx-auto max-w-80 md:max-w-full">
        <%= renderCard('Analytics Tracking', 'ðŸ”Ž', '/analytics') %>
        <%= renderCard('Embedded Content', 'ðŸ“½ï¸', '/embedded-video') %>
        <%= renderCard('Shopping Cart', 'ðŸ›’', '/ecommerce') %>
        <%= renderCard('Personalization', 'ðŸŽ¨', '/personalization') %>
        <%= renderCard('Personalization with localStorage', 'ðŸ–¼ï¸', '/personalization-localstorage') %>
        <%= renderCard('Single Sign-On', 'ðŸ”', '/single-sign-on') %>
        <%= renderCard('Payment Gateway', 'ðŸ’³', '/payment-gateway') %>
        <%= renderCard('Legacy GSI', 'ðŸ”', '/gsi') %>
        <%= renderCard('Facebook Like', 'ðŸ‘', '/social-media') %>
        <%= renderCard('Facebook Comments', 'ðŸ’¬', '/social-media-comments') %>
        <%= renderCard('Disqus Comments', 'âœ‰ï¸', '/disqus-comments') %>
        <%= renderCard('Spotify embed', 'ðŸ”Š', '/spotify-embed') %>
        <%= renderCard('CHIPS', 'ðŸª', '/chips') %>
        <%= renderCard('Storage Access API', 'ðŸ—ƒï¸', '/storage-access-api') %>

    </div>
</div>

<%- include(commonPath + '/footer.ejs') %>