<%- include(commonPath + '/header.ejs') %>

<% const scenarioButton = (title, link) => { %>
    <a href="<%= link %>"
        class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
        <%= title %>
    </a>
<% } %>

<div class="container-lg mx-auto py-8">
    <section class="text-center mb-4">
        <h2 class="text-3xl font-bold mb-4 text-center">Scenarios</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-8">
            <%= scenarioButton('ðŸ”Ž Analytics Tracking', '/analytics') %>
            <%= scenarioButton('ðŸ“½ï¸ Embedded Content', '/embedded-video') %>
            <%= scenarioButton('ðŸ›’ E-Commerce', '/ecommerce') %>
            <%= scenarioButton('ðŸ” Single Sign-On', '/single-sign-on') %>
            <%= scenarioButton('ðŸ’³ Payment Gateway', '/payment-gateway') %>
            <%= scenarioButton('ðŸª CHIPS', '/chips') %>
        </div>
    </section>
</div>

<%- include(commonPath + '/footer.ejs') %>
