<%- include(commonPath + '/header.ejs') %>

<% const renderCard = (title, emoji, link, description ) => { %>
    <a href="<%= link %>"
        class="border border-blue p-4 bg-white drop-shadow-[8px_8px_0_rgba(32,33,37,.1)] rounded-md hover:bg-blue-500 hover:text-white aspect-square transition duration-300 size-20">
        <span class="block text-5xl mb-4"><%= emoji %></span>
        <h3 class="font-bold"><%= title %></h3>
        <p><%= description %></p>
    </a>
<% } %>

<div class="container-lg mx-auto py-8">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mb-8 mt-8 ">
        <%= renderCard('Analytics Tracking', 'ðŸ”Ž', '/analytics','description with more text from card') %>
        <%= renderCard('Embedded Content', 'ðŸ“½ï¸', '/embedded-video','description') %>
        <%= renderCard('E-Commerce', 'ðŸ›’', '/ecommerce','description') %>
        <%= renderCard('Single Sign-On', 'ðŸ”', '/single-sign-on','description') %>
        <%= renderCard('Payment Gateway', 'ðŸ’³', '/payment-gateway','description') %>
        <%= renderCard('CHIPS', 'ðŸª', '/chips','description') %>
    </div>
</div>

<%- include(commonPath + '/footer.ejs') %>
