<%- include(commonPath + '/header.ejs') %>

    <%- include(commonPath + '/internal-page/header.ejs') %>
        <p class="text-lg mb-4 text-center">Here is a button that tracks clicks using a third-party analytics service; check if it works.</p>

        <div class="flex justify-center space-x-4 my-10">
            <button onclick="trackInteraction('buttonClicked')" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-300">
                Track me!
            </button>
        </div>
        <div id="status" class="text-center text-lg my-4"></div>
    <%- include(commonPath + '/internal-page/footer.ejs') %>

<script src="<%= protocol %>://<%= domainC %><% if (isPortPresent) { %>:<%= port %><% } %>/analytics/analytics.js"></script>

<%- include(commonPath + '/footer.ejs') %>
